#container{
    display: flex;
    flex-direction: row;
}

#leftRow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    padding: 8px;
    
}

#rightRow{
    padding: 8px;
}


img{
    height: 300px;
    width: 150px;
}

#container{
    border-bottom: 4px dashed orange;
}

strong{
    color:orange;
}

#listData{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#row{
    display: flex;
    flex-direction: row;
    width:100%;
    padding: 4px;
    justify-content: space-evenly;
}

#brewers_tips{
    padding:4px;
}